*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--text-color: #e9f7fc;
	--background-color: #000019;
	--primary-color: #8e3ef8;
	--secondary-color: #119fcf;
	--accent-color: #ff6f6f;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	font-family: "Lora", serif;
	color: var(--text-color);
}
.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-auto-rows: 50px;
	gap: 0.2px;
	align-items: center;
	justify-content: center;
	background: var(--accent-color);
}
.cell {
	z-index: 0;
	width: 100%;
	height: 100%;
	background: var(--background-color);
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 70px 20px;
	z-index: 99;
	width: 100%;
	height: 100px;
}
.nav {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 30%;
}
.wrapper {
	background-image: url(../assets/bg.jpg);
	position: relative;
	background-attachment: fixed;
	background-size: cover;
}

.nav-item {
	position: relative;
	font-size: 18px;
	font-weight: 700;
	text-transform: capitalize;
}
.nav-item::before {
	content: attr(data-content);
	position: absolute;
	text-wrap: nowrap;
	left: 0;
	height: 100%;
	width: 0;
	color: var(--accent-color);
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 700;
	overflow: hidden;
	transition: width 0.3s ease;
	cursor: pointer;
}

.nav-item:hover::before {
	width: 100%;
}
/* first section */
.s1 {
	height: max-content;
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding: 100px 70px;
}
.main-title {
	font-size: 68px;
}
.right-content {
	width: 70%;
	display: flex;
}
.quote {
	width: 50%;
	margin-top: 30px;
}
.buttons {
	display: flex;
	gap: 10px;
	flex-direction: column;
}
.btn {
	width: 15em;
	height: 2em;
	padding: 1em;
	border-radius: 3em;
	border: 2px solid white;
	color: white;
	background: none;
	position: relative;
	font-size: 16px;
	font-weight: 300;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	z-index: 1;
}
.btn::after {
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	background: var(--primary-color);
	left: 0;
	transition: all 0.5s ease-out;
	border-radius: inherit;
	z-index: -1;
}
.btn:hover:after {
	width: 100%;
}
.btn:hover {
	animation: shake 0.5s;
}
.btn:hover .fa-arrow-right {
	animation: shake 0.3s forwards 0.5s;
}
.btn:active {
	transform: scale(0.9);
}
@keyframes shake {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(5px);
	}
	75% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(0);
	}
}
.btn2::after {
	background: var(--secondary-color);
}
h1 span {
	background-image: linear-gradient(
		to right,
		var(--primary-color),
		var(--secondary-color)
	);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}
.logo-container {
	height: 60px;
}
.logo-container img {
	height: 100%;
}

.dash {
	height: 15px;
	background: #fff;
	width: 150px;
	margin-right: 20px;
	margin-top: 30px;
}
.quote {
	font-size: 22px;
}
.quote * {
	display: inline;
}
.quote i {
	font-size: 64px;
	color: var(--secondary-color);
}
/* ####################################### */

.s2 {
	height: max-content;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 100px 70px;
}
.s2-img {
	height: 200px;
	width: 40%;
}
.s2-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.s2-content {
	width: 50%;
}
.s2-content h2 {
	font-size: 30px;
	font-weight: 700;
	color: var(--secondary-color);
	padding: 10px 0;
}
.s2-content p {
	color: #aaa;
	line-height: 1.5;
}
